<% if Ability.new(current_user).can? :read,Shift %> 
<style type="text/css">
  <% Worker.all.each do |w| %>
  .shift.shiftworker-<%= w.id %>, .shift.shiftworker-<%= w.id %> a {
  color:<%= w.foreground %>; 
  background-color:<%= w.background %>; 
  }
				   
<% end %>
 
</style>

<h1 id="weekheader">
<% unless @monday.nil? %>
  <a href="/weeks/<%= @monday-7.days %>"><i class="fa fa-arrow-left"></i></a>
  Week of: <%= @monday %>
  <a href="/weeks/<%= @monday+7.days %>"><i class="fa fa-arrow-right"></i></a>
<% end %>
<% unless @shift_template.nil? %>
Shift template: <%= @shift_template.name %> <br />
<small><i><%= best_in_place @shift_template, :notes, :place_holder => "click to add notes" %></i></small>
<% end %>

</h1>






<div class="col-with-label" style="margin-left:5px;">
  <div class="col-content"> 
    <div class="col-with-label">
      <div class="col-content"> 
	<div class="col-with-flat-label">
	  <div class="col-content time-ticks"> 
	    <% (0..31).each do |i| %> 
	    
	    <div style="height:2000px;" class="<%= "col-30min start-#{i*30}min" %>" data-start-time="<%= colindex_to_time(i).strftime("%l:%M%p") %>" ><% if i % 2 == 0 %> <%= colindex_to_time(i).strftime("%l%p") %> <% end %></div>
	    
	    
	    <% end %>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
    
<% ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"].each_with_index do |day_of_week,day_of_week_i| %>

<div class="col-with-label day_of_week" id="day_of_week_<%= day_of_week_i%>" style="margin-left:5px;">
  <div class="col-label">
    <div class="day_name">
      <%= day_of_week %>
      <%= (@monday+day_of_week_i.days).strftime("%-m/%-d") if @shift_template.nil? %>
    </div>

  </div> 
  <div class="col-content">
    <% Workgroup.all.each do |workgroup| %>
    <div class="workgrouprow col-with-label workgroup-row-<%= workgroup.id %>" >
      <div class="col-label"><div class="workgrouplabel"><%= workgroup.name %></div></div>
      <div class="col-content">
	
	<% workgroup.tasks.each do |task| %>
	<div class="col-with-flat-label task task_<%= task.id%>">
	  <div class="col-label"><div class="workgrouplabel"><%= task.name %></div></div>
	  <div class="col-content task-target" data-task-target="<%= task.id%>" data-task-workgroup="<%= workgroup.id%>" data-dayofweek-target="<%= day_of_week_i %>" data-monday-target="<%= @monday %>" data-shift-template-target="<%= @shift_template.id rescue '' %>" >
	    <% @shifts.select {|s| s.task_id == task.id && s.day_of_week==day_of_week_i}.each do |shift| %>
	    
	    <%= render shift %>
	    
	    <% end %>

	  </div> <!-- matches task-target -->
	</div> <!-- matches task -->
	<% end %>
      </div> <!-- matches content -->
    </div> <!-- matches workgrouprow -->
    <% end %>
  </div><!-- matches content -->
</div><!-- matches day_of_week -->


<% end %>

<br />

<div class="well">
<h3>Summary</h3>

<%= render :partial => "shifts/shiftsummary", :locals => {:shifts => @shifts } %>

</div>

<% if @shift_template.nil? %>
<div class="well">
  <h4>Overwrite task lines on this schedule with a shift template</h4>
  <%= form_tag "/weeks/#{@monday}/apply_shift_template" do  %>
  <div class="form-group">
    <select name="shift_template_id" class="form-control"  >
      <%= options_from_collection_for_select(ShiftTemplate.all.order('created_at desc'), :id, :name) %>
    </select>
    <br />
    <%= submit_tag "Apply the template", class: "btn", data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
</div>
<% end %>


<% if !@monday.nil? %>
<div class="well">
  <h3>Notes</h3>
  <div id="week_notes">
    <% @notes.each do |n| %>
    <%= render :partial => "week_notes/week_note", :locals => {:note => n } %>
    <% end %>
  </div>
  <hr />
  <%= form_for WeekNote.new, remote: true, url: {action: "create",:controller => :week_notes}, html: {class: "form-horizontal"} do |f| %>
  <%= f.hidden_field :monday, :value=>@monday %>
  <div class="form-group">
    <%= f.label "Note", :class => 'control-label col-md-4' %>
    <div class="controls col-md-8">
      <%= f.text_area :note, {class: "form-control",id: "week_note_note"} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "By:", :class => 'control-label col-md-4' %>
      <div class="controls col-md-8">
	<%= f.text_field :author, {class: "form-control",id: "week_note_author"} %>
      </div>
  </div>

  <div class="form-group">
    <div class="controls col-md-8 col-md-offset-4">
      <%= f.submit "Post"  ,{class: "form-control"}%>
    </div>
  </div>
  <% end %>
    
</div>
<% end %>
<%= content_for :sidebar do %>
<a class="btn btn-info  btn-xs" id="toggledescriptions" role="button"><i class="fa fa-edit"></i> Toggle descriptions</a>
<h3>Workgroups</h3>
<ul style="list-style-type:none;padding-left:10px;">
<% Workgroup.all.each do |workgroup| %>
<li>
  <a href="#" class="workgroup_toggle" data-workgroup="<%= workgroup.id %>"><i class="fa fa-eye"></i> <i class="fa fa-times" style="display:none;"></i>  <%= workgroup.name %></a>
</li>
<% end %>
</ul>

<h3>Workers</h3>
<ul id="workerlist">
<% Worker.where(:active => true,:utility=>[false,nil]).each do |worker| %>
<li>
  <a href="#" class="worker_draggable" data-worker="<%= worker.id %>"       style="color:<%= worker.foreground %>;background-color:<%= worker.background %>"  data-toggle="tooltip" data-placement="bottom" title="<%= escape_javascript(worker.notes) %>" ><%= worker.shortname %></a>
</li>
<% end %>
</ul>

<h3>"Utility" shifts</h3>
<ul id="utilitylist">
<% Worker.where(:active => true,:utility=>true).each do |worker| %>
<li>
  <a href="#" class="worker_draggable" data-worker="<%= worker.id %>"       style="color:<%= worker.foreground %>;background-color:<%= worker.background %>"  data-toggle="tooltip" data-placement="bottom" title="<%= escape_javascript(worker.notes) %>" ><%= worker.name %></a>
</li>
<% end %>
</ul>



<% end %>
<% end %>
