
<%- model_class = Task -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div class="col-sm-6">
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @task.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:workgroup) %>:</strong></dt>
  <dd><%= link_to @task.workgroup.name,@task.workgroup %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              tasks_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_task_path(@task), :class => 'btn btn-default' %>

</div>

<div class="col-sm-6">
  <div class="well">
    <h3>Get a report</h3>
        <%= form_for @task, :method => :get, :url => {:action => "report"}, :html => { :class => "form-horizontal task" } do |f| %>
    
    <div class="form-group">
      <%= f.label "From", :class => 'control-label col-md-4' %>
      <div class="controls col-md-8">
	<%= text_field_tag :from_date, Date.today.beginning_of_week - 1.week, {:class => 'mondaypicker form-control'} %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "To", :class => 'control-label col-md-4' %>
      <div class="controls col-md-8">
	<%= text_field_tag :to_date, Date.today.beginning_of_week, {:class => 'mondaypicker form-control'} %>
      </div>
    </div>

    <%= f.submit "Get report", :class => 'btn btn-primary' %>
    <% end %>

  </div>
</div>
