<%- model_class = PayRate -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:worker_id) %></th>
      <th><%= model_class.human_attribute_name(:effective) %></th>
      <th><%= model_class.human_attribute_name(:hourly_pay_in_cents) %></th>
      <th><%= model_class.human_attribute_name(:hourly_capital_contribution_in_cents) %></th>
      <th><%= model_class.human_attribute_name(:hourly_predicted_extra_wage_in_cents) %></th>
      <th><%= model_class.human_attribute_name(:notes) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @pay_rates.each do |pay_rate| %>
      <tr>
        <td><%= link_to pay_rate.id, pay_rate_path(pay_rate) %></td>
        <td><%= pay_rate.worker_id %></td>
        <td><%= pay_rate.effective %></td>
        <td><%= pay_rate.hourly_pay_in_cents %></td>
        <td><%= pay_rate.hourly_capital_contribution_in_cents %></td>
        <td><%= pay_rate.hourly_predicted_extra_wage_in_cents %></td>
        <td><%= pay_rate.notes %></td>
        <td><%=l pay_rate.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_pay_rate_path(pay_rate), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      pay_rate_path(pay_rate),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_pay_rate_path,
            :class => 'btn btn-primary' %>
