<table class="table" id="shiftsummary">
  <tr><th>Worker</th><th>Hours worked</th><th>Hours of sick/family leave requested</th><th>Hourly pay</th><th>Capital Contributions</th><th>Predicted extra wage</th></tr>
<% shifts_to_summary(shifts).sort_by {|k,v| k}.collect {|x| x[1]}.each do |v|  %>
<% unless v[:worker].utility %>
<tr> 
  <td><%= link_to v[:worker].name,v[:worker] %></td>
  <td><%= v[:hours] %></td>
  <td><%= v[:sick_hours] %></td>
  <td><%= v[:total_hourly_pay] %></td>
  <td><%= v[:total_hourly_capital_contribution] %></td>
  <td><%= v[:total_hourly_predicted_extra_wage] %></td>
</tr>
<% end %>
<% end %>
</table>
