<h1>Shift report</h1>
<div class="well">
  <h3>Get a report</h3>
  <%= form_tag '/shifts/report' , :method => :get, :html => { :class => "form-horizontal workgroup" } do  %>
  
  <div class="form-group">
    <%= label_tag :from_date, "From", :class => 'control-label col-md-4' %>
    <div class="controls col-md-8">
      <%= text_field_tag :from_date, @from_date, {:class => 'mondaypicker form-control'} %>
    </div>
  </div>
  
  <div class="form-group">
    <%= label_tag :to_date,"To", :class => 'control-label col-md-4' %>
    <div class="controls col-md-8">
      <%= text_field_tag :to_date, @to_date, {:class => 'mondaypicker form-control'} %>
    </div>
  </div>
  
  <%= submit_tag "Get report", :class => 'btn btn-primary' %>
  <% end %>
</div>


<table class="table">
  <tr><th></th><th>Hours</th><th>Wage due immediately</th><th>Capital account contribution</th><th>Anticipated wages</th><th>Total (anticipated) expense</th></tr>
  <tr><th class="grayed" colspan="6">By workgroup</th></tr>
  <% @shifts.collect {|x| x.workgroup}.uniq.each do |w| %>
  <tr>
    <td><%= link_to w.name,w %></td>
    <td><%= @shifts.find_all {|s| s.workgroup==w}.inject(0){|sum,s| sum+s.hours_long } %></td>
    <td>$<%= @shifts.find_all {|s| s.workgroup==w}.inject(Money.new(0)){|sum,s| sum+s.total_hourly_pay } %></td>
    <td>$<%= @shifts.find_all {|s| s.workgroup==w}.inject(Money.new(0)){|sum,s| sum+s.total_hourly_capital_contribution } %></td>
    <td>$<%= @shifts.find_all {|s| s.workgroup==w}.inject(Money.new(0)){|sum,s| sum+s.total_hourly_predicted_extra_wage } %></td>
    <td>$<%= @shifts.find_all {|s| s.workgroup==w}.inject(Money.new(0)){|sum,s| sum+s.total_expense } %></td>
  </tr>
  <% end %>
  <tr><th class="grayed" colspan="6">By task</th></tr>
  <% @shifts.collect {|x| x.task}.uniq.each do |t| %>
  <tr>
    <td><%= link_to t.name,t %></td>
    <td><%= @shifts.where(:task=>t).inject(0){|sum,s| sum+s.hours_long } %></td>
    <td>$<%= @shifts.where(:task=>t).inject(Money.new(0)){|sum,s| sum+s.total_hourly_pay } %></td>
    <td>$<%= @shifts.where(:task=>t).inject(Money.new(0)){|sum,s| sum+s.total_hourly_capital_contribution } %></td>
    <td>$<%= @shifts.where(:task=>t).inject(Money.new(0)){|sum,s| sum+s.total_hourly_predicted_extra_wage } %></td>
    <td>$<%= @shifts.where(:task=>t).inject(Money.new(0)){|sum,s| sum+s.total_expense } %></td>
  </tr>
  <% end %>
  <tr><th class="grayed" colspan="6">By worker</th></tr>
  <% @shifts.collect {|x| x.worker}.sort_by {|w| w.firstname}.uniq.each do |w| %>
  <tr>
    <td><%= link_to w.name,w %></td>
    <td><%= @shifts.where(:worker=>w).inject(0){|sum,s| sum+s.hours_long } %></td>
    <td>$<%= @shifts.where(:worker=>w).inject(Money.new(0)){|sum,s| sum+s.total_hourly_pay } %></td>
    <td>$<%= @shifts.where(:worker=>w).inject(Money.new(0)){|sum,s| sum+s.total_hourly_capital_contribution } %></td>
    <td>$<%= @shifts.where(:worker=>w).inject(Money.new(0)){|sum,s| sum+s.total_hourly_predicted_extra_wage } %></td>
    <td>$<%= @shifts.where(:worker=>w).inject(Money.new(0)){|sum,s| sum+s.total_expense } %></td>
  </tr>
  <% end %>
  <tr><th class="grayed" colspan="6">Totals</th></tr>
  <tr>
    <th>Total</th>
    <th><%= @shifts.inject(0){|sum,s| sum+s.hours_long } %></th>
    <th>$<%= @shifts.inject(Money.new(0)){|sum,s| sum+s.total_hourly_pay } %></th>
    <th>$<%= @shifts.inject(Money.new(0)){|sum,s| sum+s.total_hourly_capital_contribution } %></th>
    <th>$<%= @shifts.inject(Money.new(0)){|sum,s| sum+s.total_hourly_predicted_extra_wage } %></th>
    <th>$<%= @shifts.inject(Money.new(0)){|sum,s| sum+s.total_expense } %></th>
  </tr>


</table>
