<%= nested_form_for @workgroup, :html => { :class => "form-horizontal workgroup" } do |f| %>

    <% if @workgroup.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@workgroup.errors.count, "error") %> prohibited this workgroup from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @workgroup.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@workgroup[:name]) %>
  </div>

  <div class="row">

    <div class="col-sm-6">
      <div class="well">
	<h3>Tasks</h3>
	<i>Please keep in mind that editing these changes all historical records</i>
	<%= f.fields_for :tasks do |task_form| %>
	<%= task_form.text_field :name,:placeholder=>"Name of task",:class=> 'form-control' %>
	<% end %>
	<%= f.link_to_add raw("<i class='icon-plus'></i> Add a task"), :tasks, {:class=>:btn,:id=>:click_to_add_task} %>
	  
      </div>
    </div>
    
    <div class="col-sm-6">
      <div class="well">
	<h3>Workers</h3>
<!-- <%= hidden_field_tag "worker[worker_ids][]", nil %>-->
	
	<% Worker.all.each do |worker| -%>
	<div>
	  <%= check_box_tag :worker_ids, worker.id, @workgroup.workers.include?(worker), :name => 'workgroup[worker_ids][]' -%>
	  <%= label_tag :worker_ids, worker.name -%>
	</div>
	<% end -%>
      </div>
    </div>

  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            workgroups_path, :class => 'btn btn-default' %>

<% end %>
