<%= nested_form_for @worker, :html => { :class => "form-horizontal worker" } do |f| %>

    <% if @worker.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@worker.errors.count, "error") %> prohibited this worker from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @worker.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-6">
    <div class="control-group">
      <%= f.label :firstname, :class => 'control-label' %>
      <div class="controls">
	<%= f.text_field :firstname, :class => 'form-control' %>
      </div>
      <%= error_span(@worker[:firstname]) %>
    </div>
    <div class="control-group">
      <%= f.label :lastname, :class => 'control-label' %>
      <div class="controls">
	<%= f.text_field :lastname, :class => 'form-control' %>
      </div>
      <%= error_span(@worker[:lastname]) %>
    </div>
    <div class="control-group">
      <%= f.label :last_initial, :class => 'control-label' %>
      <div class="controls">
	<%= f.text_field :last_initial, :class => 'form-control' %>
      </div>
      <%= error_span(@worker[:last_initial]) %>
    </div>
    <div class="control-group">
      <%= f.label "Preferred pronoun", :class => 'control-label' %>
      <div class="controls">
	<%= f.text_field :pronoun, :class => 'form-control' %>
      </div>
      <%= error_span(@worker[:pronoun]) %>
    </div>
    <div class="control-group">
      <%= f.label :mobile, :class => 'control-label' %>
      <div class="controls">
	<%= f.text_field :mobile, :class => 'form-control' %>
      </div>
      <%= error_span(@worker[:mobile]) %>
    </div>
    <div class="control-group">
      <%= f.label :email, :class => 'control-label' %>
      <div class="controls">
	<%= f.text_field :email, :class => 'form-control' %>
      </div>
      <%= error_span(@worker[:email]) %>
    </div>
    <div class="control-group">
      <%= f.label :foreground, :class => 'control-label' %>
      <div class="controls">
	<%= f.text_field :foreground, :class => 'form-control colorpicker' %>
      </div>
      <%= error_span(@worker[:foreground]) %>
    </div>
    <div class="control-group">
      <%= f.label :background, :class => 'control-label' %>
      <div class="controls">
	<%= f.text_field :background, :class => 'form-control  colorpicker' %>
      </div>
      <%= error_span(@worker[:background]) %>
    </div>


    <div class="control-group">
      <%= f.label :active, :class => 'control-label' %>
      <div class="controls">
	<%= f.check_box :active, :class => 'form-control checkbox' %>
      </div>
      <%= error_span(@worker[:active]) %>
    </div>

    <div class="control-group">
      <%= f.label :utility_only, :class => 'control-label' %>
      <div class="controls">
	<%= f.check_box :utility, :class => 'form-control checkbox' %>
      </div>
      <%= error_span(@worker[:utility]) %>
    </div>


    </div>
    <div class="col-sm-6">
    <div class="control-group">
      <%= f.label "Notes on time off needed", :class => 'control-label' %>
      <div class="controls">
	<%= f.text_area :notes, :class => 'form-control',:rows=>10 %>
      </div>
      <%= error_span(@worker[:notes]) %>
    </div>
    <br />
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            workers_path, :class => 'btn btn-default' %>


    </div>
  </div>

<br />
<div class="row">  
  <div class="col-sm-3">
  <div class="well">
  <h3>Workgroups</h3>
  <%= hidden_field_tag "worker[workgroup_ids][]", nil %>

  <% Workgroup.all.each do |workgroup| -%>
    <div>
      <%= check_box_tag :workgroup_ids, workgroup.id, @worker.workgroups.include?(workgroup), :name => 'worker[workgroup_ids][]' -%>
      <%= label_tag :workgroup_ids, workgroup.name -%>
    </div>
  <% end -%>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            workers_path, :class => 'btn btn-default' %>


</div>
  <div class="col-sm-9">
    <div class="well">
      <h3>Pay Rates</h3>
        <div id="worker_pay_rates">
	  <div class="row"><div class="col-xs-3">Effective</div><div class="col-xs-2">Hourly pay</div><div class="col-xs-2">Capital contributions</div><div class="col-xs-2">Anticipated wages</div></div>
	  <%= f.fields_for :pay_rates do |pay_rate_form| %>
	  <div class="row">
	    <div class="col-xs-3">
<div class="input-group">
  <span class="input-group-addon"><i class="fa fa-calendar" ></i></span>
<%= pay_rate_form.text_field :effective,:placeholder=>"Date this rate went into effect",:class=>'datepicker form-control' %>
	    </div>
</div>
	    <div class="col-xs-2">
	      <div class="input-group">
		<span class="input-group-addon"><i class="fa fa-usd" ></i></span>
		<%= pay_rate_form.text_field :hourly_pay,:placeholder=>"Hourly pay",:class=>"form-control" %></div></div> 
	    <div class="col-xs-2">
	      <div class="input-group">
		<span class="input-group-addon"><i class="fa fa-usd" ></i></span>
		<%= pay_rate_form.text_field :hourly_capital_contribution,:placeholder=>"Hourly capital contribution",:class=>"form-control" %></div></div>
	    <div class="col-xs-2">
	      <div class="input-group">
		<span class="input-group-addon"><i class="fa fa-usd" ></i></span>
		<%= pay_rate_form.text_field :hourly_predicted_extra_wage,:placeholder=>"Hourly predicted extra wage",:class=>"form-control" %></div></div>
	  </div>
	  <% end %>

		<%= f.link_to_add raw("<i class='fa fa-plus'></i> Add a new pay rate"), :pay_rates, {:class=>"btn btn-primary btn-sm",:id=>:click_to_add_pay_rate} %>

    </div>
  </div>
</div>
<% end %>
