<p id="notice"><%= notice %></p>

<h1>Listing Workers</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Mobile</th>
      <th>Email</th>
      <th>Foreground</th>
      <th>Background</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workers.each do |worker| %>
      <tr>
        <td><%= worker.firstname %></td>
        <td><%= worker.lastname %></td>
        <td><%= worker.mobile %></td>
        <td><%= worker.email %></td>
        <td><%= worker.foreground %></td>
        <td><%= worker.background %></td>
        <td><%= link_to 'Show', worker %></td>
        <td><%= link_to 'Edit', edit_worker_path(worker) %></td>
        <td><%= link_to 'Destroy', worker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Worker', new_worker_path %>
