<%- model_class = Worker -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %>: <%= "#{@worker.firstname} #{@worker.lastname}"%></h1>
</div>

<div class="row">
<div class="col-sm-6">
<dl class="dl-horizontal" >
  <dt><strong><%= model_class.human_attribute_name(:mobile) %>:</strong></dt>
  <dd><%= @worker.mobile %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @worker.email %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              workers_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_worker_path(@worker), :class => 'btn btn-default' %>
<hr />
<div class="well">
  <h3>Workgroups</h3>
  <ul>
  <% @worker.workgroups.each do |workgroup| -%>
  <li><%= link_to workgroup.name,workgroup %></li>
  <% end %>
  </ul>
</div>

<div class="well">
  <h3>Payrates</h3>
  <table class="table">
    <tr><th>Effective</th><th>Hourly pay</th><th>Capital contributions</th><th>Anticipated wages</th></tr>
    <% @worker.pay_rates.each do |pay_rate| %>
    <tr>
      <td><%= pay_rate.effective %></td>
      <td><%= pay_rate.hourly_pay %></td>
      <td><%= pay_rate.hourly_capital_contribution %></td>
      <td><%= pay_rate.hourly_predicted_extra_wage %></td>
    </tr>
    <% end %>
  </table>
</div>

</div>
<div class="col-sm-6">
  <div class="well">
    <h3>Get a shift report</h3>
    <%= form_for @worker, :method => :get, :url => {:action => "report"}, :html => { :class => "form-horizontal worker" } do |f| %>
    
    <div class="form-group">
      <%= f.label "From", :class => 'control-label col-md-4' %>
      <div class="controls col-md-8">
	<%= text_field_tag :from_date, Date.today.beginning_of_week - 1.week, {:class => 'mondaypicker form-control'} %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "To", :class => 'control-label col-md-4' %>
      <div class="controls col-md-8">
	<%= text_field_tag :to_date, Date.today.beginning_of_week, {:class => 'mondaypicker form-control'} %>
      </div>
    </div>

    
    
    <%= f.submit "Get report", :class => 'btn btn-primary' %>
    <% end %>

  </div>

<div class="well">
<h3>Contributions and distributions</h3>

<table class="table">
  <tr>
    <th>Date</th>
    <th>Type</th>
    <th>Amount</th>
    <th>Notes</th>
  </tr>
  <% @worker.transactions.order("date_made ASC").each do |t| %>
  <tr>
    <td><%= link_to t.date_made, t %></td>
    <td><%= t.transactiontype %></td>
    <td>$<%= t.amount %></td>
    <td><%= t.notes %> </td>
  </tr>
  <% end %>
</table>
<%= link_to t('.new', :default => t("helpers.links.new")),
new_transaction_path(:worker_id=>@worker),:class => 'btn btn-primary' %> 
<%= link_to "View full capital account history","/workers/#{@worker.id}/capital",
:class => 'btn btn-default' %> 


</div>
</div>
</div>



<%= content_for :sidebar do %>
<h3>Time off requests</h3>
<%= best_in_place @worker, :notes, :place_holder => "click to add" %>
<h3>Capital Account</h3>
Balance: $<%= @worker.capital_account_balance(Date.today) %>
<h3>Upcoming shifts</h3>
<% @worker.shifts.where(:shift_template_id=>nil).where("monday >= ?", Date.today.beginning_of_week).each do |s| %>

<div>
<a href="/weeks?monday=<%= s.monday%>">
  <%= link_to s.date.strftime("%-m/%-d"),"/weeks/#{s.monday}" %>: <%= s.task.name %> <%= s.start_time.strftime("%l:%M%p") %> -  <%= s.end_time.strftime("%l:%M%p") %>
</a>
</div>

<% end %>
<% end %>
